@import "../node_modules/modern-normalize/modern-normalize.css";
:root {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* Board */

.game {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 2rem;
}
#board {
  width: min(70vh, 70%);
  max-width: 400px;
  background-color: rgb(170, 167, 167);
  aspect-ratio: 1/1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  --square-border: 8px solid rgb(17, 17, 16);
  border: var(--square-border);
}

.board-square {
  background-color: gold;
  box-sizing: border-box;
  border: var(--square-border);
}

.board-square[data-value="X"] {
  background-image: url("../img/X.svg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}
.board-square[data-value="O"] {
  background-image: url("../img/O.svg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  font-size: 5rem;
  font-weight: bold;
}

.game-status {
  font-size: 2.5rem;
}
