:root {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* Board */

.game {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
#board {
  --spacing: 8px;
  width: min(70vh, 70%);
  max-width: 400px;
  background-color: rgb(170, 167, 167);
  aspect-ratio: 1/1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: var(--spacing);
  gap: var(--spacing);
  background-color: rgb(17, 17, 16);
}

.board-square {
  background-color: gold;
  box-sizing: border-box;
}

.board-square[data-value="X"] {
  background-image: url("../img/X.svg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}
.board-square[data-value="O"] {
  background-image: url("../img/O.svg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
}

.game-status {
  font-size: 2.5rem;
}

/* Names */
.game-names {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.game-name {
  display: flex;
  gap: 0.25rem;
}
.hidden,
#board.hidden {
  display: none;
}

.start-button {
  border: 2px solid black;
  padding: 1rem 2rem;
  background-color: rgb(138, 61, 6);
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.start-button:hover {
  background-color: chocolate;
}
